body, html {
    height: 100%;
    margin: 0;
  }
  body {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/02/08/37453/d09b8e46a2652a03b18436fc85622250.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}