div.flex-container {
    display: flex;
    flex-wrap: wrap;
}
div.one {
    flex-grow: 1;
    width: 60%;
    height: 5em;
    background-color: darkblue;
}
div.two {
    flex-grow: 1;
    width: 40%;
    height: 5em;
    background-color: blue;
}
div.three {
    flex-grow: 1;
    width: 33%;
    height: 5em;
    background-color: lightblue;
}
div.four {
    flex-grow: 1;
    width: 33%;
    height: 5em;
    background-color: grey;
}
div.five {
    flex-grow: 1;
    width: 33%;
    height: 5em;
    background-color: antiquewhite;
}